<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
  </appSettings>
  <connectionStrings>
    <!--LTH test-->
    <add name="ApplicationServices" connectionString="oV0/tsnZVWP2oUmliH1lJP/m3i4nS2a8nM9XpBNA05+/N/i2YJpT4tcBLAiT3hI/hYlF1h9Fq3mwsYDFZZVPQ2ZhY+k1eKcGPvGxGZRwqNQdP4t1xJAQFP8dYDR4x3DyUj1vDsEVs5kjMDlxc/COQf/lvXA6G6f3LxtcBGoeh0NxbYYVq1SJXAIfzx8cbzoBVnd+gDLAr14sat5407ukzQ==" providerName="System.Data.SqlClient" />
  </connectionStrings>

</configuration>
