<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
  </appSettings>
  <connectionStrings>
    <!--server test-->
    <add name="ApplicationServices1" connectionString="XdJk4i3LOM30Wl7Rw/KitMb//KMYbElwvzzlxG8w4+MPpm3y2NHCRrDpbf95ibl9tZa53cKFNvgJp5KqD4Z7jlWV+5uJ4iEDSY7/zo/NZQmBjZt5FlByqDflc8ebVz9xbVgUzZ0eyV/YDZKXvsYv/0IB/AXskEEK2LuWfVxcBnP7bA0ueZJqLdCdLNGOqANf2/y6HAgY36tRQZCTvgBOmw==" providerName="System.Data.SqlClient" />
    <!--server production-->
    <add name="ApplicationServices2" connectionString="oh3tVjltnnlFkp2zOrRiOUvduA97rwyhAc4mIpg8uJQyujAL+YBiJY7yjKu92NCp1/Q3GyCVABEXJeQj1oUaZllro5bAMmDuIc892F4nlcY6YfS1/I6djdHQ/ojKebp/SIrHFVcEDAIgLl4OtZpX3fHzlajqrzY3N8lvvQm9VSN0Dp41sUqEqTaa/CpLgTR7uNgG4/LC7Sri9RVE9PuQFg==" providerName="System.Data.SqlClient" />
    <add name="Escreening.Winform.Properties.Settings.Escreening2ConnectionString" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Escreening2;Integrated Security=True" providerName="System.Data.SqlClient" />
    <!--LTH test-->
    <add name="ApplicationServices" connectionString="oV0/tsnZVWP2oUmliH1lJP/m3i4nS2a8nM9XpBNA05+/N/i2YJpT4tcBLAiT3hI/hYlF1h9Fq3mwsYDFZZVPQ2ZhY+k1eKcGPvGxGZRwqNQdP4t1xJAQFP8dYDR4x3DyUj1vDsEVs5kjMDlxc/COQf/lvXA6G6f3LxtcBGoeh0NxbYYVq1SJXAIfzx8cbzoBVnd+gDLAr14sat5407ukzQ==" providerName="System.Data.SqlClient" />
    <!--Bạch mai Local test-->
    <add name="ApplicationServices4" connectionString="QqNzpZ4sZGF75jnB0oFBviPZsz5yoVLuUmixiYg5QX4GQmrPC+E8eennFzebYhv9FsGvew3K7VIDCKm6y/MM9cAmZ6ZfcXi/rO2JElFxUZfhSOQxEOUPsJvMiGFxXSoP16bHHUEvfRh1NmVsp7O778lk4gv19riK5tw8/fRejrkdMAyOhIpSalzjUxuD7c1/plFeW+Ta3qDY6snPXQr2gw==" providerName="System.Data.SqlClient" />
  </connectionStrings>

</configuration>
